.App {
  min-height: 100vh;
  background-color: #000;
  background: -webkit-linear-gradient(right,#77c9d4, #57bc90);
  text-align: center;
  color: white;
  font-family: 'Gluten', cursive, sans-serif;
}

p {
  margin:0;
}

h1 a{
  font-weight:lighter;
}
.container {
  min-height: 100vh;
  display: flex;
  max-width:1200px;
  margin:0 auto;
  flex-direction: column;
  Justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

.title {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.subtitle {
  font-size: 25px;
  color: white;
}

.left{
  text-align: center;
  margin-left: 10%;
}

.logo{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.right{
  display: flex;
  color: #015249;
  background: black;
  background-color: #fef9ff;
  background-size: 110% 110%;
  animation: gradient-animation 4s ease infinite;
  border-radius: 16px;
  padding: 12px 20px;
  height: 99%;
  margin-right: 10%;
  margin-top: 10px;
}

@media (max-width:1200px) {

  header {
    flex-direction: column;
    align-items:center;
  }
  .right{
    margin:0 0 3rem 0;
  }
  .left{
    margin: 0 0 1rem 0;
  }
}

.content-container {
  background-color: #a200d6;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #015249;
}

.connect-wallet-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
}

.connect-wallet-container img {
  width:400px;
  height:450px;
  object-fit:cover;
  object-position: -5% 0;
  border-radius: 20px;
  padding-bottom: 20px;
}

.connect-wallet-button {
  background-image: linear-gradient(
    to right,
    #ffe20a 0%,
    #ffe20a 0%,
    #ffe51f 21%,
    #ffe51f 52%,
    #f5d800 78%,
    #b8a200 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  cursor: pointer;
  transition:ease-in .3s;
}

.connect-wallet-button:hover,
.connect-wallet-button:focus{
  transform: scale(1.05);
}

.mint-button {
  background-color: #fff07c;
  background: -webkit-radial-gradient(center,#fef9ff,#f5d800);
  background-size: 150% 150%;
  animation: gradient-animation 4s ease infinite;
  font-size: 18px;
  margin: 20px 10px;
  border-radius: 10px;
  padding: 0px 2rem;
  cursor: pointer;
  transition:ease-in .3s;
  font-family: 'Gluten', cursive, sans-serif;
}

.mint-button:hover,
.mint-button:focus{
  transform: scale(1.1);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.3), 0 0 15px 0 rgba(245,216,0,0.9), 0 0 30px 5px rgba(245,216,0,0.3);
}

.mint-button:disabled{
  background: #550072;
  color: rgb(209, 209, 209);
  cursor: not-allowed;
}

.mint-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-button{
  border-radius: 50%;
  cursor: pointer;
  margin-left: 3px;
  top: 20px;
  border: 0px;
  font-size: 12px;
  background-color: transparent;
}

.edit-icon{
  width: 12px;
}


.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.form-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  border: 0;
  border-radius: 12px;
  background-color: #FEF9FF;
  color: #015249;
  letter-spacing: 1px;
  font-size: 26px;
  width: 400px;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: center;
}

input::placeholder {
  color: #a5a5af;
  letter-spacing: 2px;
}

input:focus {
  outline: none;
}

.first-row{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.tld {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #015249;
  /* left: -70px; */
  right: 22px;
  margin: 0;  
  padding: 0;
  margin-bottom: 13px;
}

hr {
  width:100%;
}

.mint-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mint-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 15px;
  font-size: 18px;
  background-color: #fef9ff;
  border:1px solid #fa824c;
  color: #015249;
  min-width: 150px;
  max-width: fit-content;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.2);
  transition:ease-in .2s;
}

.mint-item:hover,
.mint-itim:focus {
  transform:scale(1.03)
}
/* Different background-colour for every nth mint-item */
.mint-item:nth-child(2n){
  border-color: #6f73d2;
}

.mint-item:nth-child(3n) {
  border-color: #bda0bc;
}

/* .mint-item:nth-child(5n) {
  background-color: #2D9A4D;
} */

.link{
  color: #8549ea;
  text-decoration: none;
}

.pop-link{
  color: #38023b;
  text-decoration: none;
}

.underlined{
  text-decoration: underline;
}

.underlined:hover{
  cursor: pointer;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
